footer {
    padding-top: 1px;
}

footer .copy-right {
    padding: 10px 0px;
}

.butDanhMucSach {
    background-color: rgba(255, 151, 0, 0.72);
    color: rgba(25, 77, 196, 0.66)
}

.gioiThieuBookStore h2 {
    text-align: center;
    color: rgba(255, 193, 7, 0.74);
}

.gioiThieuBookStore p {
    text-align: justify;
}

.singleProduct {
    margin-left: 10%;
    margin-bottom: 20px;
    margin-right: 20%;
}

.anhKemSP {
    margin-left: 10px;
}

.khungSPDon {
    height: 20%;
}

.product-sec .slider-content ul li span {
    width: 120px;
    font-weight: 400;
}

.product-sec .slider-content ul li span.price {
    width: 150px;
}

.product-sec .slider-content ul li span.final {
    font-size: 18px;
}

.buttonXemThem {
    text-align: center;
    margin-top: 20px;
}

.a .row .item img {
    height: 200px;
}

footer .timing pre {
    color: rgba(128, 128, 128, 0.68);
    font-size: 14px;
    margin-bottom: 10px;
    font-family: monospace, sans-serif;
}

footer .navigation1 li a {
    color: rgba(128, 128, 128, 0.68);
    font-size: 14px;
    margin-bottom: 10px;
    font-family: monospace, sans-serif;
}

footer .address1 h6 {
    color: rgba(128, 128, 128, 0.68);
    font-size: 14px;
    margin-bottom: 10px;
    font-family: monospace, sans-serif;
}

.features-sec .container .row .hotro {
    display: flex;
    flex-grow: 1;
}

.anhGTTrangchu .row .col-sm-5 img {
    width: 200px;
    height: 100%;
    background-color: aqua;
    text-align: justify;
    margin-top: 20%;
}

footer .address1 {
    margin-left: 50px;
}

footer .timing {
    margin-left: 50px;
}

footer .navigation1 {
    margin-left: 50px;
}

body {
    text-align: justify;
}

@media (min-width: 578px) and (max-width: 780px) {
    #anhgioiThieuHome {
        margin-bottom: 30%;
        margin-top: 30%;
    }
    .static h2 {
        font-size: 18px;
    }
}

@media (min-width: 781px) and (max-width: 992px) {
    #anhgioiThieuHome {
        margin-bottom: 30%;
        margin-top: 15%;
    }
}

@media (min-width: 220px) and (max-width: 410px) {
    footer .address1 h6 {
        font-size: 8px;
    }
    footer h4 {
        font-size: 12px;
    }
    footer .navigation1 li a {
        font-size: 8px;
    }
    footer .timing pre {
        font-size: 8px;
    }
}

@media(max-width: 219px) {
    footer .address1 h6 {
        font-size: 6px;
    }
    footer h4 {
        font-size: 10px;
    }
    footer .navigation1 li a {
        font-size: 6px;
    }
    footer .timing pre {
        font-size: 4px;
    }
}

@media (min-width: 761px) and (max-width: 992px) {
    footer .address1 h6 {
        font-size: 12px;
    }
    footer h4 {
        font-size: 16px;
    }
    footer .navigation1 li a {
        font-size: 12px;
    }
    footer .timing pre {
        font-size: 12px;
    }
}

.recent-book-sec .container img {
    height: 250px;
}

.recomended-sec .container img {
    height: 200px;
}

.slider .slide {
    margin-top: 1.2%;
    margin-bottom: 2%;
}

.singleProduct {
    height: 200px;
}

.mainNav {
    width: auto;
    margin: 0px auto;
    color: #FFF;
    background-color: #F60;
}

.mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999;
}

.mainNav ul li {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999999;
}

.mainNav ul li a {
    color: #FFF;
    display: block;
    font-size: 14px;
    line-height: normal;
    padding: 12px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.mainNav ul li a:hover {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #F00;
    color: #FFF;
}

.mainNav ul ul {
    border-bottom: none
}

.mainNav ul ul li {
    background-color: #F5F5F5;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E2E2E2;
}

.mainNav ul ul li a {
    color: #000000;
    display: block;
    font-size: 1em;
    line-height: normal;
    padding: 0.5em 1em 0.5em 2.5em;
}

.mainNav ul ul li a:hover {
    background-color: #E9E9E9;
    color: #FF0000;
}

.mainNav ul ul ul {
    border-top: 1px solid #46CFB0;
}

.mainNav ul ul ul li {
    border: none;
}

.mainNav ul ul ul li a {
    padding-left: 3.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

ul li.has-subnav .accordion-btn {
    color: #fff;
    font-size: 16px;
    background-color: #C0C0C0;
    background-position: 0;
}

@media screen and (max-width: 1024px) {
    .mainNav {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .mainNav {
        width: 100%;
        margin-bottom: 20px;
    }
}

header .main-menu {
    background-color: #dee3e98c;
    margin-bottom: 30px;
}

footer {
    margin-top: 0px;
}

.about-sec {
    margin-bottom: 0;
}

.content-pagenation {
    padding: 35px 0;
    text-align: right;
}

.content-pagenation li {
    display: inline;
}

.content-pagenation li a {
    color: #303030;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #FFF;
    padding: 10px 12px;
    box-shadow: 0px 0px 5px #ADADAD;
    -webkit-box-shadow: 0px 0px 2px #ADADAD;
    -moz-box-shadow: 0px 0px 2px #ADADAD;
    -o-box-shadow: 0px 0px 2px #ADADAD;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.content-pagenation li a:hover,
.content-pagenation li.active a {
    background: #303030;
    color: #FFF;
}


/*** review ***/

.image {
    clear: both;
    padding: 0px;
    margin: 0px;
    padding: 0.5%;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

.grid {
    display: block;
    float: left;
    margin: 0% 0 0% 1.6%;
}

.grid:first-child {
    margin-left: 0;
}

.images_3_of_1 {
    width: 30.2%;
    margin-bottom: 5%;
    height: 200px;
}

.news_desc {
    width: 68.1%;
}

.images_3_of_1 img {
    width: 80%;
    height: 100%;
    display: block;
    border: 1px solid #E0E0E0;
}

.news_desc h3 {
    color: #B81D22;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'ambleregular';
}

.news_desc h4 span a {
    text-decoration: underline;
}

.news_desc h4 span a:hover {
    color: #B81D22;
    text-decoration: none;
}

.news_desc h4,
.news_desc h4 a {
    font-size: 0.95em;
    color: #303030;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 100;
}

.news_desc p {
    font-size: 0.85em;
    padding: 5px 0;
    color: #747474;
    line-height: 1.8em;
    font-weight: 600;
}

.news_desc p a {
    font-size: 1em;
    color: #B81D22;
}

@media screen and (max-width: 320px) {
    .content-pagenation {
        font-size: 0.4em;
    }
    .btn {
        font-size: 4px;
    }
    .product-sec .slider-content ul {
        list-style: none;
        width: 80%;
        margin-bottom: 10px;
        float: center;
    }
    .related-books h2 {
        font-size: 12px;
    }
    .khungSPDon h1 {
        font-size: 10px;
    }
    .singleProduct {
        height: 100px;
    }
    .images_3_of_1 img {
        width: 80%;
        height: 60%;
    }
    .news_desc p {
        font-size: 0.5em;
    }
    .contentGioiThieu h2 {
        font-size: 1.2rem;
    }
    .static h2 {
        font-size: 13px;
    }
    .optionSex {
        margin-right: 10px;
        margin-left: 5px;
    }
    .ThanhToan {
        font-size: 10px;
    }
    .contentReview h3 {
        font-size: 1.2rem;
    }
    .contentReview h4 {
        font-size: 1rem;
    }
    .contentReview p {
        font-size: 0.6em;
    }
}

.text-center {
    color: orange;
    border-radius: 0.25em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 151, 0, 1);
}

.contentGioiThieu {
    height: auto;
    margin-bottom: 40px;
}

.optionSex {
    margin-right: 30px;
    margin-left: 10px;
}

.TieuDeThanhToan {
    color: rgba(255, 151, 0, 1);
}

@media screen and (max-width: 440px) {
    .optionSex {
        margin-right: 10px;
        margin-left: 5px;
    }
    .ThanhToan {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .content-pagenation li {
        display: block;
        width: 50%;
        margin-bottom: 20px;
    }
    .butXemNB {
        margin-top: 1em;
    }
    .ThanhToan {
        font-size: 8px;
    }
}

.ThanhToan .btn-orange {
    text-align: left;
}

.inputThanhToan {
    border-radius: 4%;
    border-color: rgb(255, 196, 0, 0.1);
}

.inputThanhToan:hover {
    border-color: #000000;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media screen and (max-width: 1200px) {
    header .main-menu .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }
}